@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');
:root {
    --primary-color: #00ADB5;
    --secondary-color: #222831;
    --primary-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset
}

* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: var(--primary-shadow);
}

.user-form input::placeholder {
    color: rgb(255, 255, 255, 0.6);
}

.user-form input:focus {
    outline: none;
}

.card {
    max-width: 800px;
    background-color: var(--primary-color);
    border-radius: 20px;
    display: flex;
    padding: 2rem;
    margin: 0 1.5rem;
    box-shadow: var(--primary-shadow);
}

.avatar {
    border-radius: 50%;
    border: 10px solid #EEEEEE;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
}

.user-info ul li strong {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.repo {
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    font-size: 0.7rem;
    padding: 0.25rem 0.25rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

@media(max-width: 700px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .user-form {
        max-width: 400px;
    }
}