@import url('https://fonts.googleapis.com/css?family=Heebo:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    /* when background color is changed, make it faded */
    transition: all 0.5s ease-in;
}


/* [Mode]
  - make easy to change by using variable */

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary--color);
}

body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.toggle {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 0.5rem 0.9rem;
    position: absolute;
    top: 10rem;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
}

.needle {
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    /* spin from bottom to center */
    transform-origin: bottom center;
    /* TODO: TOFIX - when 0 degree, transition invoke turn around...  */
    /* transition: all 0.5s ease-in-out; */
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 50px;
}

.needle.second {
    transform: translate(-50%, -100%);
    height: 90px;
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 70px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 50px;
    color: var(--primary-color);
}

.date {
    color: #aaa;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    transition: all 0.5s ease-in;
    font-size: 1rem;
}